<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active">
			<%= image_tag 'hero_images/image_1_cropped.jpg', class: "d-block w-100"%>
      <div class="carousel-caption">
        <h5 class="carousel-caption-title">Health & Fitness</h5>
        <p class="carousel-caption-text">Workout Videos, Recipes, and Meal Plans</p>
      </div>
    </div>

    <div class="carousel-item">
      <%= image_tag 'hero_images/image_3_cropped.jpg', class: "d-block w-100" %>
      <div class="carousel-caption">
        <h5 class="carousel-caption-title">Personal Styling</h5>
        <p class="carousel-caption-text">Online Courses from Personal Stylists</p>
      </div>
    </div>

    <div class="carousel-item">
      <div class="carousel-caption">
        <h5 class="carousel-caption-title">Personal Development</h5>
        <p class="carousel-caption-text">Online Courses, Videos, and Printables</p>
      </div>
    	<%= image_tag 'hero_images/image_2_cropped.jpg', class: "d-block w-100" %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>

  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>
