<h1>admin page</h1>

<%= link_to 'Create a user', new_user_path %>

<%= link_to 'view current users',user: @users %>

<%= link_to 'edit users', edit_user_path(current_user) %>

<%= link_to 'delete users', destroy_user_session_path, method: :delete %>
