<h2 class="mb-5">Our Latest Masterclass</h2>
<div class="container">
  <div class="row ">
    <div class="col-md-1-2 py-4">
      <h4>
        <%= if masterclass
              masterclass.title
            end%>
      </h4>
      <p>
        <%= if masterclass
          masterclass.text
        end%>
      </p>
    </div>
    <div class="col-md-6 align-self-end">
      <%= image_tag masterclass.preview_url, class: 'masterclass-preview-image' %>
    </div>
  </div>
</div>