<h3 class="mb-3">Our Latest Masterclass</h3>
<div class="masterclass-preview">
  <div class="row">
    <div class="col-md-6 order-sm-2 order-md-1">
      <%= image_tag masterclass.preview_url, class: 'masterclass-preview-image shadow' %>
    </div>
    <div class="col-md-1-2 order-sm-1 order-md-2">
      <h4>
        <%= masterclass.title %>
      </h4>
      <p>
        <%= masterclass.text %>
      </p>
    </div>
  </div>
</div>