<div class="masterclass-small-preview">
  <%= image_tag masterclass.preview_url, class: 'masterclass-small-preview-image shadow' %>
  <div class="masterclass-small-preview-info">
    <h4 class="text-white"><%= masterclass.title  %></h4>
    <small class="text-white"><%= masterclass.user.full_name %></small>
  </div>
</div>