<h1>This is our home page</h1>
<p><%= link_to 'Check all the posts', posts_path %></p>

<% if current_user %>
   <p>Welcome <%= current_user.email %> <%= link_to 'Logout', destroy_user_session_path, method: :delete %></p>
<% end %>

<% if current_user.role == "admin" %>
   <p>welcome administrator <%= link_to 'login', users_path %></p>
<% end %>
