<div class="content-section content-section--light-grey">
  <div class="expert-banner-container">

    <div class="mySlidesTestimonial expert-banner-fade">
      <div class="expert-banner-post">
        <div>
          <p class="testimonial-description section-heading">"The Health & Style Club is my go-to site for tips, advice, help and inspiration from wardrobe dilemmas to well-being and mental health. The topics covered are wide and varied. I've got everything I need on one site. Thank you Health & Style Club!"</p>
          <p class="testimonial-name paragraph">Kelly Petty</p>
        </div>
      </div>
    </div>

    <div class="mySlidesTestimonial expert-banner-fade">
      <div class="expert-banner-post">
        <div class="w-100">
          <p class="testimonial-description section-heading">"I love Health & Style Club! It's so much fun!."</p>
          <p class="testimonial-name paragraph">Zoe Rizzuto</p>
        </div>
      </div>
    </div>

    <div class="mySlidesTestimonial expert-banner-fade">
      <div class="expert-banner-post">
        <div>
          <p class="testimonial-description section-heading">"I joined the mailing list and recieved a free Goal Setting Workbook. Then the following week I was sent a Wardrobe Edit Workbook. Love getting freebies!"</p>
          <p class="testimonial-name paragraph">Linda Vanderhoff</p>
        </div>
      </div>
    </div>

    <!-- Next and previous buttons -->
    <a class="prev js-prevTestimonial" data-number="-1">&#10094;</a>
    <a class="next js-nextTestimonial" data-number="1">&#10095;</a>
  </div>

  <!-- The dots/circles -->
  <div class="" style="text-align:center">
    <span class="dotTestimonial js-dotTestimonial" data-number="1"></span>
    <span class="dotTestimonial js-dotTestimonial" data-number="2"></span>
    <span class="dotTestimonial js-dotTestimonial" data-number="3"></span>
  </div>
</div>
