<div class="content-section content-section--light-grey">
  <div class="expert-banner-container">

    <div class="mySlidesTestimonial expert-banner-fade">
      <div class="expert-banner-post">
        <div>
          <p class="testimonial-description section-heading">"Icing tiramisu gummies icing jujubes muffin
            sugar plum bonbon. Brownie marshmallow carrot cake pudding."</p>
          <p class="testimonial-name paragraph">Testimonial Name</p>
        </div>
      </div>
    </div>

    <div class="mySlidesTestimonial expert-banner-fade">
      <div class="expert-banner-post">
        <div>
          <p class="testimonial-description section-heading">"Icing tiramisu gummies icing jujubes muffin
            sugar plum bonbon. Brownie marshmallow carrot cake pudding."</p>
          <p class="testimonial-name paragraph">Testimonial Name</p>
        </div>
      </div>
    </div>

    <div class="mySlidesTestimonial expert-banner-fade">
      <div class="expert-banner-post">
        <div>
          <p class="testimonial-description section-heading">"Icing tiramisu gummies icing jujubes muffin
            sugar plum bonbon. Brownie marshmallow carrot cake pudding."</p>
          <p class="testimonial-name paragraph">Testimonial Name</p>
        </div>
      </div>
    </div>

    <!-- Next and previous buttons -->
    <a class="prev js-prevTestimonial" data-number="-1">&#10094;</a>
    <a class="next js-nextTestimonial" data-number="1">&#10095;</a>
  </div>

  <!-- The dots/circles -->
  <div class="" style="text-align:center">
    <span class="dotTestimonial js-dotTestimonial" data-number="1"></span>
    <span class="dotTestimonial js-dotTestimonial" data-number="2"></span>
    <span class="dotTestimonial js-dotTestimonial" data-number="3"></span>
  </div>
</div>