<!DOCTYPE>
  <html>
    <head>
    </head>

    <body>
      <div class="wrapper">
        <div class="bigimage">
        </div>

      <div>
              <h1>What is Health & Style Club?</h1>
                <p>
                Health & Style Club is a membership site for and by women featuring Health & Fitness, Personal Styling, and Personal Development experts from around the world. The health and wellness marketplace is such a crowded space and there are so many amazing women out there doing incredible work.
                <br>
                Health & Style Club is a place to experience the wonderful tapestry of all the training, experience, and viewpoints of our expert contributors.
                <br>
        </div>

        <div>

              <h2>How does it work?</h2>
                  <p>
                  When you become a member of Health & Style Club you are granted access to our member’s area where you will find:
                  </p>
                  <ul>
                    <li>Personal Training Videos and PDF Printables</li>
                    <li>Recipes and Meal Plans</li>
                    <li>Online Personal Styling Courses</li>
                    <li>Personal Development Videos and Printable Workbooks</li>
                    <li>Exclusive Videos and Articles</li>
                    <li>Access to the Private Facebook Group where you can ask any questions of our professional contributors and connect with other members.</li>
                    <li>Find members in your area and connect for workout and healthy eating accountability partnerships.</li>
                    <li>A Monthly Masterclass by an Expert Contributor on a Health & Wellness, Personal Styling, or Personal Development Topic.</li>
                  </ul>
                  <br>
                  <br>
          </div>

        <div>
          <p>
            Our expert contributors are (to name a few):
          </p>

              <ul>
                <li>Personal Trainers</li>
                <li>Nutritionists</li>
                <li>Health Coaches</li>
                <li>Life Coaches</li>
                <li>Psychologists</li>
                <li>Yoga & Pilates Teachers</li>
                <li>Essential Oils Experts</li>
                <li>Personal Stylists and Image Consultants</li>
                <li>Skin Care Experts</li>
              </ul>
              <br>
              <br>
          </div>

          <div>
            <h3>We get it…</h3>
                <p>
                Life can be so busy and sometimes we struggle to make time for ourselves (I think most women are guilty of this). All of us at some stage have:
                </p>
              <ul>
                <li>neglected our exercise</li>
                <li>developed unhealthy habits with food</li>
                <li>fallen in to rut with our style</li>
                <li>put aside a big dream</li>
                <li>not considered what we want most from life</li>
                <li>become overwhelmed from all the tasks we have to juggle</li>
                <br>
                <br>
        </div>

      <div>
          <h3>  We are here to help! Imagine your day going a bit like this:</h3>

            <ul>
                <li>Wake up for a morning exercise routine with our personal trainer.</li>
                <li>Listen to a short guided meditation to invigorate yourself for the day ahead. </li>
                <li>Get breakfast and lunch prep idea from our recipes section. </li>
                <li>Ask your fellow Facebook group members which shoes go best with your outfit for the day. </li>
                <li>Listen to a Law of Attraction Course on your drive into work. </li>
                <li>Check out our recipe section again for your dinner inspiration. </li>
                <li>Delve into an exciting new monthly masterclass. It’s been a busy day so perhaps just a 5-minute video. </li>
                <li>Finish the day with a night time yoga session to wind down and relax before bed. </li>
            </ul>
      </div>

        <div>
            <h3>Kristin’s Story</h3>
                <p>
                In the beginning of 2017, I joined the Female Entrepreneur Association (FEA) as a hoping to be inspired to create a successful business. My third child was a few months old and I was spending long hours at home with the feeding. It was a time when I wasn’t feeling my best. I had put away all the maternity clothes, but found that my old wardrobe wasn’t really working for my newly home based lifestyle and I didn’t have any time to look after myself. Basically, I was feeling frumpy, unhealthy, and stuck in a rut. Through the membership in the FEA, I met so many amazing and inspiring women who were running health and wellness businesses or working as image consultants, life coaches and more. There is just so much amazing information out there, but I couldn’t find anywhere outside of this business networking group where I could experience all the wonderful advice.
                <br>
                <br>
                That is when the idea for Health & Style Club was born. I taught myself how to build a website with WordPress and how to do some basic graphic design, and by the end of the year I was ready to go. Or so I thought! After meeting with some industry professionals, I was advised I would need a better more robust website and I should expect to pay around £30,000 for this. BAM! Bubble burst! I was feeling a bit shocked and delated when a few days later I saw the free 6-month coding course being advertised online by Digital Jersey. I applied and was accepted onto the course. It was a big commitment for me to attend the classes for four hours per week over six months, but was a hugely challenging and rewarding experience.  The course mentors chose Health & Style Club for one of the student projects and a team of seven talented junior developers built this website and it was launched at the course graduation on 5th July 2018.
                <br>
                <br>
                One of the best parts about starting Health & Style Club has been developing amazing friendships with women all over the world. I hope you have the same experience should you become a member.
                <br>
                <br>
                Thank you for visiting! Please sign up here to keep in touch.
                <br>
                <br>
                Love
                Kristin
                xx
              </p>
        </div>

    </body>













  </html>
