<div class="content-wrap">
  <%= image_tag 'become_contributor.png', class: "external-hero" %>

  <div class="content-section">
    <h3> Are you interested in becoming a contributor with Health & Style Club?</h3>
    <p>
      Do you have a special niche you would like to share with our audience? There are several options for getting involved. You could:
    </p>
    <ul>
      <li>Contribute an article for our public site</li>
      <li>Create a video for our Youtube Channel</li>
      <li>Create a Masterclass for our Member's Club</li>
      <li>Create a video training for our Member's Club</li>
      <li>Contribute Recipes or Meal Plans to our Member's Club</li>
      <li>Or suggest something new...</li>
    </ul>
    <p class="mb-0">
      We would love to discuss with you how you can join our international group of contributors and
      showcase your best work on our site.
      All contributors receive a profile page with their contact information and link to their social
      accounts. Masterclass contributors will be on our public and member's club home pages
      as the Featured Contributor of the month. All of the content will stay on the website so as we grow
      our audience, you will continue to reach new people from around the world who may be interested in working with you directly.
    </p>
  </div>
</div>
