<h1> Become a Contributor</h1>
<div class= "container wrapper">
<%= image_tag('become_contributor.png', class: "static_head")%>
<h3> Are you interested in becoming a contributor with Health & Style Club?</h3>
<br>
<br>
<p>Do you have a special niche you would like to share with our audience? There are several options for getting involved. You could:
  <ul>
    <li>Contribute an article for our public site</li>
    <li>Create a video for our Youtube Channel</li>
    <li>Create a Masterclass for our Member's Club</li>
    <li>Create a video training for our Member's Club</li>
    <li>Contribute Recipes or Meal Plans to our Member's Club</li>
    <li>Or suggest something new...</li>
  </ul>
<br>
<br>
We would love to disucss with you how you can join our international group of contributors and showcase your best work on our site.
All contributors recive a profile page with their contact information and link to their social accounts. Masterclass contribuors will be on our public and member's club home pages
as the Featured Contributor of the month. All of the content will stay on the website so as we grow our audience, you will continue to reach new people from around the world who may be intersted in
working with you directly.
</p>
</div>
