<!-- <h3 class="mr-5 ml-5 mb-3 section-heading ">
  Frequently asked questions....
</h3> -->
<div class="faqimage"></div>
<br>
<br>
<div id="accordion">
  <div class="card mr-5 ml-5">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link text-dark faq-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          What is Health & Style Club?
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <p class="paragraph">Health & Style Club is a website and member’s club for women where professional contributors from different backgrounds within the health & lifestyle industries provide training, advice and share their expertise. There are so many amazing women doing incredible things…Health & Style Club is a showcase where you can get a snippet of everything in one place! <br><br>
        Topics will include: Health & Wellness, Fitness Training, Personal Styling, Life & Success Coaching, Health Coaching, Meditation, Pilates, Emotional Freedom Technique (Tapping), Spiritual Healing, Essential Oils, Yoga, Ayurveda, Dressing for Success, Colour Psychology, Improving your Relationships, Skin Care, Makeup Tutorials, Productivity, Interior Design, Goal Setting & Visualisations, Law of Attraction, And so much more….</p>
      </div>
    </div>
  </div>
  <div class="card mr-5 ml-5">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed text-dark faq-header" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          How do I join?
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <p class="paragraph">The Silver Membership is free! Simply click on one of the links and register for an account. You will receive an email to confirm your subscription and another email to be added to our mailing list.</p>
      </div>
    </div>
  </div>
  <div class="card mr-5 ml-5">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed text-dark faq-header" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          What do I receive when I join?
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
       <p class="paragraph">Joining the club will give you access to all the exclusive members only content and you will be added to our mailing list to be kept up to date whenever we have new things to share.</p>
      </div>
    </div>
  </div>
  <div class="card mr-5 ml-5">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed text-dark faq-header" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          How do I join the Facebook community?
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
       <p class="paragraph">To join the Facebook Community, please like our Facebook Page <br><br>

       <%= link_to 'www.facebook.com/healthandstyleclub', 'www.facebook.com/healthandstyleclub', class:'faq-link' %> <br><br>

        and request to join the Facebook Group <br><br>

        <%= link_to 'www.facebook.com/groups/healthandstyleclub', 'www.facebook.com/groups/healthandstyleclub', class:'faq-link' %></p>
      </div>
    </div>
  </div>
  <div class="card mr-5 ml-5">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed text-dark faq-header" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Could I be a Contributor?
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
       <p class="paragraph">Of course! For more information on contributing to the website, please email us on <strong>info@healthandstyleclub.com</strong></p>
      </div>
    </div>
  </div>
</div>
