<div class="content-wrap">
  <%= image_tag 'fitness_static.png', class: "external-hero" %>

  <div class="content-section">
    <h2 class="mb-4">
      Workout Videos created by certified Personal Trainers
    </h2>

    <p>
      We know that life can get busy and sometimes it is a struggle to make time
      for exercise. We have worked with Personal Trainers and Fitness
      Professionals to create workouts which can be adjusted to your
      fitness level and broken into smaller workouts if you are short on time.
      Even a short workout is better than none at all. Some of the workouts
      can be broken segments as short as 5-10 minutes by doing a cardio segment and
      focusing on one area of the body.
      You can follow along with the video or print off the workout to take to the gym,
      park, or on holiday.
    </p>

    <p>
      Different personal trainers have their own style and bring their own
      training, experience, and expertise. We work with trainers from all over
      the world and are regularly adding new videos to keep it fresh and exciting.
      There is usually no equipment required and the workouts can be.
    </p>

    <div class="row mb-3">
      <div class="col-sm-12 col-md-8">
        <%= image_tag 'yogagirl.jpeg', class: 'w-100' %>
      </div>

      <div class="col-sm-12 col-md-4">
        <div class="card bg-light h-100 shadow">
          <div class="card-header background-light-pink">
            <h5 class="text-dark-grey mb-0 p-2 text-playfair">Workout Anywhere</h5>
          </div>
          <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="p-3 w-100 text-center">Full Body</div>
            <div class="p-3 w-100 text-center">HIIT</div>
            <div class="p-3 w-100 text-center">Strength Training</div>
            <div class="p-3 w-100 text-center">Pilates</div>
            <div class="p-3 w-100 text-center">Yoga</div>
            <div class="p-3 w-100 text-center">And more to come...</div>
          </div>
        </div>
      </div>
    </div>

    <h2>
      Recipes and Meal Plans
    </h2>

    <p>
      Our recipes and meal plans have been created by recipe creators, health coaches, and
      nutritionist from around the world.
      Browse our selection of Breakfast, Lunch, Dinner, and Snack Recipes, print off our Meal Planner
      and plan your weekly menus and shopping list. There are also specialised meal plans developed
      by Health Coaches. We will be adding new recipes weekly.
    </p>

    <div class="row mb-3">
      <div class="col-sm-12 col-md-4">
        <div class="card bg-light h-100 shadow">
          <div class="card-header background-light-pink">
            <h5 class="text-dark-grey mb-0 p-2 text-playfair">Eat Healthy</h5>
          </div>
          <div class="card-body">
            <p class="card-text">
              All of the recipes have been vetted by Jackie Vega, Registered Dietician, Personal Trainer, and
              Recipes Creator for <em>Super Healthy Kids</em>.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-8">
        <%= image_tag 'nutrition.jpeg', class: "w-100" %>
      </div>
    </div>

  </div>
</div>