<section class="hero hero--goals">
	<h1 class="hero-title">Welcome message</h1>
	<p class="hero-description">Lorem ipsum dolor sit amet, consectetur. 
	<br>Consectetur, doloribus ut obcaecati odio accusantium. Voluptatem.</p>
</section>
