<%= render "layouts/herohomepagebanner" %>

<div class="d-flex justify-content-center m-5">
  <h3>...Blank space to fill with something...</h3>
</div>

<%= render "layouts/expertbanner" %>

<div class="d-flex justify-content-center m-5">
  <h3>...Blank space to fill with something...</h3>
</div>

<%= render "layouts/testimonialbanner" %>