
<section class="hero homepage-banner-<%= rand(1..3) %>">
	<div class ="image-message">
		<h1 class="hero-title">Welcome message<br> </h1>
		<p class="hero-description">Lorem ipsum dolor sit amet, consectetur. 
		<br>Consectetur, doloribus ut obcaecati odio accusantium. Voluptatem.
		<br>Consectetur, doloribus ut obcaecati odio accusantium. Voluptatem.</p>
	</div>
</section>

<section class="placeholder">
	
</section>