<div class="content-wrap">
  <%= image_tag 'masterclass_static.png', class: "external-hero" %>
  <div class="content-section">
    <p>
      Each month there will be an exciting new masterclass released on a
      new health & fitness, styling or personal development related topic.
      The masterclasses are comprised of a welcome video introducing that month's contributor,
      5-6 videos, and a workbook to help you delve deeper into the topic.
      All of the previous masterclasses will be stored in the masterclass library to
      view whenever you like.
    </p>
    <p>
      Our very first masterclass is all about Yoga. There are six short yoga routines
      of varying difficulty, and a workbook all about how you can incorporate
      yoga into your daily routine no matter how busy your lifestyle.
      Some topics which will be covered in upcoming masterclasses are:
    </p>
    <div class="numbered-list">

      <div class="row numbered-list__item">
        <div class="col-12 col-sm-1 numbered-list__number-wrap">
          <span class="numbered-list__number">1</span>
        </div>
        <div class="numbered-list__text">
          Self-Care for Busy Women
        </div>
      </div>

      <div class="row numbered-list__item">
        <div class="col-12 col-sm-1 numbered-list__number-wrap">
          <span class="numbered-list__number">2</span>
        </div>
        <div class="numbered-list__text">
          How to Recognise the Signs of Anxiety & Depression and What To Do About It
        </div>
      </div>

      <div class="row numbered-list__item">
        <div class="col-12 col-sm-1 numbered-list__number-wrap">
          <span class="numbered-list__number">3</span>
        </div>
        <div class="numbered-list__text">
          Holistic Nutrition
        </div>
      </div>

      <div class="row numbered-list__item">
        <div class="col-12 col-sm-1 numbered-list__number-wrap">
          <span class="numbered-list__number">4</span>
        </div>
        <div class="numbered-list__text">
          How to Create Your Dream Life
        </div>
      </div>

      <div class="row numbered-list__item">
        <div class="col-12 col-sm-1 numbered-list__number-wrap">
          <span class="numbered-list__number">5</span>
        </div>
        <div class="numbered-list__text">
          Kicking Sugar
        </div>
      </div>

      <div class="row numbered-list__item">
        <div class="col-12 col-sm-1 numbered-list__number-wrap">
          <span class="numbered-list__number">6</span>
        </div>
        <div class="numbered-list__text">
          And much more...
        </div>
      </div>

    </div>
  </div>
</div>
