<div class="row d-flex justify-content-around col-12 m-auto">
  <% @users.each do |u| %>
    <% if u.bioavatar?
        image = u.bioavatar.avatar
      else
        image = "contact.png"
      end
       if u.biobackground?
         background = u.biobackground.background
       else
         background = "haute-chocolate-styled-stock-photography-spring-2016-blush-pink-marble-15-final.jpg"
       end
    %>
    <div class="card col-xs-12 col-sm-8 col-md-5 col-lg-4 col-xl-3 profile-card">
      <div class="profile-background-container">
      <%= image_tag background, class:'profile-background' %>
      </div>
      <%= image_tag image, class:"rounded-circle profile-avatar border border-danger"%>
      <div class="profile-blocks">
        <div class="profile-content">
          <h5 class="profile-name"><%= u.first_name %> <%= u.surname %></h5>
        </div>
      </div>
    </div>
  <% end %>
</div>



<style>
    * {
      -webkit-transition: all 1s ease;
      transition: all 1s ease;
      font-family: 'Playfair Display', serif;
    }

    *:hover{
      -webkit-transition: all 1s ease;
      transition: all 1s ease;
    }

    .profile-card {
      height: 375px;
      margin: 20px;
      padding: 0;
      position: relative;
      z-index: -1;
      overflow-x: hidden;
    }

    .profile-background-container {
      height: 50%;
      overflow: hidden;
      position: relative;
      z-index: -100;
    }
    .profile-background {
      width:100%;
      display: block;
      filter: blur(2px);
    }


    .profile-avatar{
      width:50%;
      background-color: #fff;
      position: absolute;
      top: 10%;
      left: 25%;
      right: 25%;
    }

    .profile-content {
      margin-top: 25%;
    }

    .profile-name {
      text-align: center;

    }

    .profile-blocks {
      background-color: #fbcfcc;
      height: 100%;
      position: relative;
      z-index: -4;
    }

    .profile-blocks::before {
      background-color: #fbcfcc;
      height: 100%;
      content: '';
      width: 120%;
      height: 90%;
      left: -30px;
      top: -20px;
      position: absolute;
      z-index: -999;
      transform: rotate(8deg);
      overflow: hidden;
    }



    @media only screen and (max-width: 575px) {
      .profile-avatar{
        width:45%;
        background-color: #fff;
        position: absolute;
        top: 10%;
        left: 27.5%;
        right: 27.5%;
      }
    }

</style>
























<!--    <div class="col-xs-6 col-md-3">-->
<!--      <div class="card profile-card-3">-->
<!--        <div class="background-block">-->
          <%#= image_tag u.bioavatar, class: "background" %>
<!--        </div>-->
<!--        <div class="profile-thumb-block">-->
          <%#= image_tag u.bioavatar.avatar, class:"profile"%>
<!--        </div>-->
<!--        <div class="card-content">-->
<!--          <h2>Justin Mccoy-->
<!--            <small>Designer</small>-->
<!--            </h3>-->
<!--            <div class="icon-block">-->
<!--              <a href="#"><i class="fa fa-facebook"></i></a>-->
<!--              <a href="#"><i class="fa fa-twitter"></i></a>-->
<!--              <a href="#"> <i class="fa fa-google-plus"></i></a>-->
<!--            </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <p class="mt-3 w-100 float-left text-center"><strong>Modren Profile Card</strong></p>-->
<!--    </div>-->




<!--    <div class="card col-lg-2">-->
      <%#= image_tag u.bioavatar.avatar, class:"rounded-circle", style:"width:100%"%>
<!--      <img class="card-img-top">-->
<!--      <div class="card-body">-->
<!--        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's-->
<!--          content.</p>-->
<!--      </div>-->
<!--    </div>-->
  <%#= u.first_name %>
  <%#= u.surname %>
  <%#= u.email %>


<!--  /**:hover {*/-->
<!--    /*-webkit-transition: all 1s ease;*/-->
<!--    /*transition: all 1s ease;*/-->
<!--  /*}*/-->

<!--  /*.profile-card-3 {*/-->
<!--    /*position: relative;*/-->
<!--    /*float: left;*/-->
<!--    /*overflow: hidden;*/-->
<!--    /*width: 100%;*/-->
<!--    /*text-align: center;*/-->
<!--    /*height: 250px;*/-->
<!--    /*border: none;*/-->
<!--  /*}*/-->

<!--  /*.profile-card-3 .background-block {*/-->
<!--    /*float: left;*/-->
<!--    /*width: 100%;*/-->
<!--    /*height: 250px;*/-->
<!--    /*overflow: hidden;*/-->
<!--  /*}*/-->

<!--  /*.profile-card-3 .background-block .background {*/-->
<!--    /*width: 100%;*/-->
<!--    /*vertical-align: top;*/-->
<!--    /*opacity: 0.9;*/-->
<!--    /*-webkit-filter: blur(0.5px);*/-->
<!--    /*filter: blur(0.5px);*/-->
<!--    /*-webkit-transform: scale(1.8);*/-->
<!--    /*transform: scale(2.8);*/-->
<!--  /*}*/-->

<!--  /*.profile-card-3 .card-content {*/-->
<!--    /*width: 100%;*/-->
<!--    /*padding: 15px 25px;*/-->
<!--    /*color: #232323;*/-->
<!--    /*float: left;*/-->
<!--    /*background: #efefef;*/-->
<!--    /*height: 75%;*/-->
<!--    /*border-radius: 0 0 5px 5px;*/-->
<!--    /*position: relative;*/-->
<!--    /*z-index: 9999;*/-->
<!--  /*}*/-->

<!--  /*.profile-card-3 .card-content::before {*/-->
<!--    /*content: '';*/-->
<!--    /*background: #efefef;*/-->
<!--    /*width: 120%;*/-->
<!--    /*height: 90%;*/-->
<!--    /*left: -21px;*/-->
<!--    /*bottom: 51px;*/-->
<!--    /*position: absolute;*/-->
<!--    /*z-index: -1;*/-->
<!--    /*transform: rotate(13deg);*/-->
<!--  /*}*/-->

<!--  /*.profile-card-3 .profile {*/-->
<!--    /*border-radius: 50%;*/-->
<!--    /*position: absolute;*/-->
<!--    /*bottom: 50%;*/-->
<!--    /*left: 50%;*/-->
<!--    /*max-width: 100px;*/-->
<!--    /*opacity: 1;*/-->
<!--    /*box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);*/-->
<!--    /*border: 2px solid rgba(255, 255, 255, 1);*/-->
<!--    /*-webkit-transform: translate(-50%, 0%);*/-->
<!--    /*transform: translate(-50%, 0%);*/-->
<!--    /*z-index: 99999;*/-->
<!--  /*}*/-->

<!--  /*.profile-card-3 h2 {*/-->
<!--    /*margin: 0 0 5px;*/-->
<!--    /*font-weight: 600;*/-->
<!--    /*font-size: 25px;*/-->
<!--  /*}*/-->

<!--  /*.profile-card-3 h2 small {*/-->
<!--    /*display: block;*/-->
<!--    /*font-size: 15px;*/-->
<!--    /*margin-top: 10px;*/-->
<!--  /*}*/-->

<!--  /*.profile-card-3 i {*/-->
<!--    /*display: inline-block;*/-->
<!--    /*font-size: 16px;*/-->
<!--    /*color: #232323;*/-->
<!--    /*text-align: center;*/-->
<!--    /*border: 1px solid #232323;*/-->
<!--    /*width: 30px;*/-->
<!--    /*height: 30px;*/-->
<!--    /*line-height: 30px;*/-->
<!--    /*border-radius: 50%;*/-->
<!--    /*margin: 0 5px;*/-->
<!--  /*}*/-->

<!--  /*.profile-card-3 .icon-block {*/-->
<!--    /*float: left;*/-->
<!--    /*width: 100%;*/-->
<!--    /*margin-top: 15px;*/-->
<!--  /*}*/-->

<!--  /*.profile-card-3 .icon-block a {*/-->
<!--    /*text-decoration: none;*/-->
<!--  /*}*/-->

<!--  /*.profile-card-3 i:hover {*/-->
<!--    /*background-color: #232323;*/-->
<!--    /*color: #fff;*/-->
<!--    /*text-decoration: none;*/-->
<!--  /*}*/-->