<div class="content-wrap">
  <%= image_tag 'alt_style_pic.png', class: "external-hero" %>
  <div class="content-section">
    <p>
      Health & Style Club has exclusive personal styling courses created by
      Luisa, Kearney, personal stylist, editor, and founder of Personal Stylist Online.
      The course are comprised of video, workbooks, and printables to help you
      redefine your personal style and help you look and feel like the best version of yourself.
    </p>

    <p>
      The first module includes:
    </p>

    <div class="numbered-list">

      <div class="container">
        <div class="row numbered-list__item">
          <div class="col-12 col-sm-1 numbered-list__number-wrap">
            <span class="numbered-list__number">1</span>
          </div>
          <div class="numbered-list__text">
            What is Personal Style?
          </div>
        </div>

        <div class="row numbered-list__item">
          <div class="col-12 col-sm-1 numbered-list__number-wrap">
            <span class="numbered-list__number">2</span>
          </div>
          <div class="numbered-list__text">
            Why might you hire a Personal Stylist?
          </div>
        </div>

        <div class="row numbered-list__item">
          <div class="col-12 col-sm-1 numbered-list__number-wrap">
            <span class="numbered-list__number">3</span>
          </div>
          <div class="numbered-list__text">
            Typical Style Profiles
          </div>
        </div>

        <div class="row numbered-list__item">
          <div class="col-12 col-sm-1 numbered-list__number-wrap">
            <span class="numbered-list__number">4</span>
          </div>
          <div class="numbered-list__text">
            How to Determine Which Style You Like, Suit Best and How to Make it Your Own
          </div>
        </div>

        <div class="row numbered-list__item">
          <div class="col-12 col-sm-1 numbered-list__number-wrap">
            <span class="numbered-list__number">5</span>
          </div>
          <div class="numbered-list__text">
            How to Create a Style that is “Part of You” and Isn’t a Drastic Transformation Process Each Morning
          </div>
        </div>

        <div class="row numbered-list__item">
          <div class="col-12 col-sm-1 numbered-list__number-wrap">
            <span class="numbered-list__number">6</span>
          </div>
          <div class="numbered-list__text">
            What to Consider When Creating Your Own Personal Style
          </div>
        </div>

        <div class="row numbered-list__item">
          <div class="col-12 col-sm-1 numbered-list__number-wrap">
            <span class="numbered-list__number">7</span>
          </div>
          <div class="numbered-list__text">
            How to Tell if You Have a Warm or Cool Skin Tone Type?
          </div>
        </div>

        <div class="row numbered-list__item">
          <div class="col-12 col-sm-1 numbered-list__number-wrap">
            <span class="numbered-list__number">8</span>
          </div>
          <div class="numbered-list__text">
            Style Basics: How to Create a Capsule Wardrobe
          </div>
        </div>

        <div class="row numbered-list__item">
          <div class="col-12 col-sm-1 numbered-list__number-wrap">
            <span class="numbered-list__number">9</span>
          </div>
          <div class="numbered-list__text">
            And more...
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<%= render 'shared/join_now' %>