<h1>Privacy Policy </h1>
<br>
<br>
<p>
This Privacy Policy describes the information that Health & Style Club (The company) collects through its website located at www.healthandstyleclub.com. Please read through the content of this Privacy Policy carefully and ensure that you understand it. If you do not understand the contents of this Privacy Policy or do not accept or agree with it then we recommend that you stop using the website www.healthandstyleclub.com.

The company collects and holds information about individuals (including customers, and contributors,) for the purpose of providing a subscription membership website.
<br>
What information do we collect and how do we collect it? We may collect personal and non-personal information that you provide to us. Personal information is information that can be used to directly or indirectly identify an individual. The types of personal information collected may include, but is not limited to, your name, email address, phone number or correspondence address and billing information. You may provide information to us by subscribing to our email list or requesting information through our contact form. Personal information also includes any comments, images, documents or videos that you provide or share on our website or social media pages.
<br>
How do we use your information? We will use your information to provide access to the premium area of Health & Style Club should you subscribe to an account, to raise awareness about recent business related developments, or to provide you with information or event details that we feel may be of relevance or interest to you.
<br>
Does Health & Style Club share personal information with anybody else? We respect your right to privacy and will not disclose, share, sell or rent any personal information held about you without your consent, except to external service providers who have been engaged by us to assist in the provision of services to our clients and customers.
Where we have outsourced a function or activity to an external service provider we will only disclose personal information that the service provider needs to undertake that function or activity, and we require external service providers to agree to keep your personal information secure and we enter into confidentiality agreements for this purpose.
We use a third party email service, MailChimp, and your name and email will be stored there for the purpose of contacting you via email.
<br>
Our billing is managed through ChargeBee and Paypal. We do not store your billing information as this is fully managed by PayPal. Please refer to www.paypal.co.uk for more information on how your personal data and billing information is processed.
<br>
We will share your personal information where we are under a duty to do so in order to comply with any legal requirements or obligations, any request from the government, or where it is necessary in order to enforce or protect our own rights, your safety or that of others, or where it is deemed necessary to investigate fraud.
<br>
Your rights in relation to the information we hold You have a right to access your information and to rectify any part which is inaccurate or incorrect. You also have a right to ask us to delete any information we hold about you or to restrict how your information is processed. If you wish to request a copy of the information we hold about you or make any changes then please contact us at info@healthandstyleclub.com. It is important to us that the information we maintain and use is accurate, complete and up-to-date. If at any time your personal details change, please let us know so we can update our records.
<br>
How and where do we process your information? Any personal information that we collect will be processed and stored securely. Should you close your account with Health & Style Club, we will continue to store your account information securely should you wish to reactivate your account. If you do not want to have your data stored with us any longer, please contact us on info@healthandstyleclub.com.
<br>
This website is located within and operates from the Bailiwick of Jersey and the relevant laws of the United Kingdom, Bailiwick of Jersey, and European Union will be compliant with the GDPR regulations.  Any data that is collected will be stored>>>>
<br>
If you are accessing this site from outside of the European Union you acknowledge and agree that any personal information you provide will be processed as set out in this Privacy Policy and will be processed in accordance with the laws of the European Union which may be more or less stringent than the legal requirements in your own country.
<br>
We take the protection of your personal information seriously and have taken suitable and reasonable steps to protect the personal information we hold from misuse, loss, unauthorised access, and any modification or disclosure. If you are submitting personal information over the internet that you wish to remain private, please note that while attempts are made to secure information transmitted to this site, there are inherent risks in transmitting information across the internet and we are unable to guarantee its security. If you prefer, you can contact us by alternative means using phone or mail.
<br>
The website at www.healthandstyleclub.com may contain links to other sites. We are not responsible for the privacy practices of those web sites and have no knowledge of whether cookies or other tracking devices are used on any such linked sites. If you have any concerns regarding the privacy of your information you should ensure you are aware of the privacy policies of those sites before disclosing any personal information.
<br>
This website is not intended to be accessed by visitors under the age of 13 and consequently we do not intentionally collect information from any visitor who is under the age of 13. In the event we discover that a person under the age of 13 has accessed our site and provided personal information than we shall attempt to delete and/or destroy such information as soon as possible.
<br>
If you have any questions about this Privacy Policy or require more information concerning our privacy practice please contact Kristin Morris at info@healthandstyleclub.com.
Changes to the Health & Style Club Privacy Policy This privacy policy is accurate as at 27 June 2018. We reserve the right to alter or amend it without notice. Should the Privacy Policy be altered, the new policy will be posted on the website  www.healthandstyleclub.com. Your first use of our website after the date of any amendments or alterations will constitute your acceptance of such changes therefore we recommend you review this Privacy Policy regularly to keep informed of any changes.
</p>
