<div class="container">


<%= image_tag('alt_style_pic.png', class: "static_head")%>
<br>
<br>
<br>
<p>
Health & Style Club has exclusive personal styling courses created by
Luisa, Kearney, personal stylist, editor, and founder of Personal Stylist Online.
The course are comprised of video, workbooks, and printables to help you
redefine your personal style and help you look and feel like the best version of yourself.
</p>
<br>
<p>The first module includes:</p>
<br>
<ul>
<li>What is Personal Style?</li>
<li>Why might you hire a Personal Stylist?</li>
<li> Typical Style Profiles</li>
<li>How to Determine Which Style You Like, Suit Best and How to Make it
Your Own</li>
<li>How to Create a Style that is “Part of You”
And Isn’t a Drastic Transformation Process Each Morning </li>
<li>What to Consider When Creating Your Own Personal Style </li>
<li>How to Tell if You Have a Warm or Cool Skin Tone Type? </li>
<li> Style Basics: How to Create a Capsule Wardrobe </li>
<li> And more...</li>
</ul>
