
<div class="content-wrap">
  <%= image_tag('Yoga Stock.jpg', class: "static_head mb-5")%>

  <h2 class="mb-4">
    Workout Videos created by certified Personal Trainers
  </h2>

  <p>
    We know that life can get busy and sometimes it is a struggle to make time
    for exercise. We have worked with Personal Trainers and Fitness
    Professionals to create workouts which can be adjusted to your
    fitness level and broken into smaller workouts if you are short on time.
    Even a short workout is better than none at all. Some of the workouts
    can be broken segments as short as 5-10 minutes by doing a cardio segment and
    focusing on one area of the body.
    You can follow along with the video or print off the workout to take to the gym,
    park, or on holiday.
  </p>
  <p>
    Different personal trainers have their own style and bring their own
    training, experience, and expertise. We work with trainers from all over
    the world and are regularly adding new videos to keep it fresh and exciting.
    There is usually no equipment required and the workouts can be.
  </p>

  <div class="d-md-flex justify-content-between align-items-stretch">
    <%= image_tag('yogagirl.jpeg', class: "static_image")%>
    <div class="card bg-light" style="max-width: 18rem;">
      <div class="card-header">Workout Anywhere</div>
      <div class="card-body">
        <p class="card-title">Some of the styles include:</p>
        <p class="card-text">
          <ul>
            <li>Full Body</li>
            <li>HIIT</li>
            <li>Strength Training</li>
            <li>Pilates</li>
            <li>Yoga</li>
            <li>And more to come...</li>
          </ul>
        </p>
      </div>
    </div>
  </div>

  <div>

    <h2>Recipes and Meal Plans</h2>
    <%= image_tag('nutrition.jpeg', class: "static_image")%>
    <br>
    <p>
    Our recipes and meal plans have been created by recipe creators, health coaches, and
    nutritionist from around the world. All of the recipes have been vetted by
    Jackie Vega, Registered Dietician, Personal Trainer, and Recipes Creator for <it>Super Healthy Kids</it>.
    <br>
    Browse our selection of Breakfast, Lunch, Dinner, and  Snack Recipes, print off our Meal Planner
    and plan your weekly menus and shopping list. There are also specialised meal plans developed
    by Health Coaches. We will be adding new recipes weekly.
    </p>
  </div>

  <div class="card">
    <h5 class="card-header">Featured</h5>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">Join today for only £15 per month.</p>
    	<%= link_to "Subscribe Now", subscriptions_path, class: "btn btn-primary btn-sm"%>
    </div>
  </div>
</div>
