<div class="content-section">
  <h2 class="mb-4">
    Terms & Conditions
  </h2>
    <p>
      The Health & Style Members’ Club Cancellation Policy
    The Health & Style Club is run on a monthly subscription basis. You have THIRTY (30) days from the date of the first original purchase to request a refund for your Members’ Club monthly membership. We will not process requests for refunds after the THIRTY (30) DAY time limit.
    All members have the right to cancel at anytime without limitation. Members simply need to login to the Members’ Club website at www.healthandstyleclub.com, Click on PROFILE in the top right of the navigation menu, click MANAGE SUBSCRIPTION, and then select CANCEL MEMBERSHIP. Once you have done that your account will be closed immediately and you will no longer be charged.
    If you have any questions you can get in touch at info@healthandstyleclub.com
    </p>
  <h2 class="mb-4">
    Disclaimer
  </h2>
    <p>
    Please seek advice from a qualified health care provider before beginning a new fitness regime. This is especially important if you (or your family) have a history of high blood pressure or heart disease, or if you have ever experienced chest pain when exercising or have experienced chest pain in the past month when not engaged in physical activity, smoke, have high cholesterol, are obese, or have a bone or joint problem that could be made worse by a change in physical activity.
    Do not start this fitness program if advised not to by your health care provider. If you experience faintness, dizziness, pain or shortness of breath at any time while exercising you should stop immediately.
    This site offers health, fitness and nutritional information and is designed for educational and entertainment purposes only. You should not rely on this information as a substitute for, nor does it replace, professional medical advice, diagnosis, or treatment. If you have any concerns or questions about your health, you should always consult your health care provider. Do not disregard, avoid or delay obtaining medical or health related advice from your health-care professional because of something you may have read on this site. The use of any information provided on this site is solely at your own risk.
    </p>

</div>
