@import '../utilities/breakpoints';
@import '../utilities/variables';

.external-header {
  padding: $spacing $spacing * 2;
  border-bottom: 3px solid $dark-pink;
}

.external-header__inner {
  max-width: $max-width;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.external-header__logo {
  font-size: 1.5rem;
  letter-spacing: 1.2px;
}

.external-header__desktop-nav {
  display: none;
  @include breakpoint(medium) {
    display: block;
  }
}

.external-header__mobile-nav {
  display: block;
  @include breakpoint(medium) {
    display: none;
  }
}

.external-header__desktop-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.external-header__desktop-nav-item {
  padding: $spacing;
  a {
    font-size: 1em;
    transition: color 0.1s linear;
    color: #212529;
    @include breakpoint(large) {
      font-size: 1.1rem;
    }
  }

  a:visited {
    color: #212529;
  }

  a:hover {
    color: #d15a8c;
  }
}