@import '../utilities/variables';
@import '../utilities/breakpoints';

.carousel-caption {
  top: 20px !important;
  right: 20%;
  left: 20%;
  bottom: auto !important;
  padding: $spacing;
  border-radius: 10px;
  @include breakpoint(medium) {
    top: 50px !important;
  }
}

.carousel-caption::after {
  content: "";
  background: #d15a8c;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  border-radius: 10px;
}

.carousel-caption-title {
  opacity: 1;
  color: white;
  font-size: 1.5em;
  margin-bottom: 0;
  @include breakpoint(medium) {
    font-size: 2.75em;
  }
}

.carousel-caption-text {
  opacity: 1;
  color: white;
  font-size: 1em;
  @include breakpoint(medium) {
    font-size: 1.5em;
  }
}