@import '../utilities/variables';
@import '../utilities/breakpoints';

.masterclass-hero {
  display: flex;
  flex-wrap: wrap;
  min-height: 300px;
  @include breakpoint(large) {
    min-height: 480px;
  }
}

.masterclass-hero__left {
  padding: $spacing;
  color: $dark-grey;
  width: 100%;
  @include breakpoint(medium) {
    padding: $spacing * 3;
  }
}

.masterclass-hero__image {
  width: 100%;
}