<% if collections.present? %>

  <% collections.each do |collection| %>

    <div class="col-12 col-sm-6 col-md-4">
      <div class="card h-100">
        <%= link_to members_collection_path(collection) do %>
          <header class="card-header background-dark-grey text-center">
            <div class="d-flex flex-column justify-content-center align-items-center">
              <h5 class="text-light-pink mb-0"><%= collection.name %></h5>
              <span class="mt-2">
                <% collection.videos.each_with_index do |video, index| %>
                  <% stage = current_user.users_collections.where(collection: collection).first&.stage || 0 %>
                  <% if stage > index + 1 %>
                    <i class="fa fa-2x fa-fw fa-check-circle-o text-light-pink" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-2x fa-fw fa-circle-o text-light-pink" aria-hidden="true"></i>
                  <% end %>
                <% end %>
              </span>
            </div>
          </header>
          <% if collection.preview.present? %>
            <%= image_tag collection.preview_url, class: 'card-img' %>
          <% end %>
          <div class="card-body">
            <p class="card-text">
              <%= collection.description %>
            </p>
          </div>
        <% end %>
      </div>
    </div>

  <% end %>

<% else %>
  <div class="col-12 text-center">
    <p>There are currently no collections, please check back later.</p>
  </div>

<% end %>