<div class="content-section">
  <div class="content-wrap">
    <h2 class="text-center mb-4">Personal Development</h2>

    <div class="container">
      <div class="row">

        <%= render 'collections', collections: @collections %>

      </div>
    </div>
  </div>
</div>