<div class="subscription-wrapper">
  <div class="subscription-page-container">
    <div class="subscription-container" style="flex-direction: column">
<style>
  .subs{
    text-align: center;
    padding-bottom: 5px;
    text-decoration: none;
  }
</style>
      <h1 class="subs" style="padding-bottom: 20px;">Subscriptions </h1>
      <h2 class="subs">Why should you subscribe?</h2>
      <p class="subs">Reason 1</p>
      <p class="subs">Reason 1</p>
      <p class="subs">Reason 1</p>
    </div>
  </div>
  <div class="subscription-page-container">
    <div class="subscription-container">
      <a href="javascript:void(0)" data-cb-type="checkout" data-cb-plan-id="premium" class="subscription-button">Subscribe</a>
      <a href="javascript:void(0)" data-cb-type="portal" class="subscription-button">Manage subscription</a>
    </div>
  </div>
</div>