<div class="subscription-wrapper">
  <div class="subscription-page-container">
    <div class="subscription-container" style="flex-direction: column">
<style>
  .subs{
    text-align: center;
    padding-bottom: 5px;
    text-decoration: none;
  }
</style>
      <h1 class="subs" style="padding-bottom: 20px;">Subscriptions </h1>
          <h2 class="subs">Why should you subscribe?</h2>
          <p class="subs">You will have access to the Member’s Only premium content area with workout videos, recipes & meal plans, personal styling and personal development courses.</p>
          <p class="subs">Each month there will be a new Masterclass delivered by professional contributors from around the world on a wide array of topics. In addition, you will have access to all the previous masterclasses.</p>
          <p class="subs">Members are invite to the exclusive Health & Style Club Facebook community for members only where they can meet other members and ask their health & fitness, personal styling, and/ or personal development questions of our professional contributors. </p>
    </div>
  </div>
  <div class="subscription-page-container">
    <div class="subscription-container">
      <a href="javascript:void(0)" data-cb-type="checkout" data-cb-plan-id="premium" class="subscription-button">Subscribe</a>
      <a href="javascript:void(0)" data-cb-type="portal" class="subscription-button">Manage subscription</a>
    </div>
  </div>
</div>