
<!DOCTYPE html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
</head>

<body>
    <!-- <div id="paypal-button-container"></div> -->
    <!-- <button class="js-button">Button</button> -->
<%amount = 0.01%>
<a href="javascript:void(0)" data-cb-type="checkout" data-cb-plan-id="premium" >subscribe</a>
<a href="javascript:void(0)" data-cb-type="portal" >Manage account</a>
    <script>

        // paypal.Button.render({
        //
        //     env: 'production', // sandbox | production
        //
        //     // PayPal Client IDs - replace with your own
        //     // Create a PayPal app: https://developer.paypal.com/developer/applications/create
        //     client: {
                // sandbox:    'ATugnfndNWAqFlxM40Sw0wWkrk9F8_8o8juOU4bs2FEIkyhps67PYGfzBQVjbf5xZsRy48V6JTLP6TvF',
                // production: 'AZ-qeEU7oq_HWH-zVYpFi6lYmz2TQzLoNnhPpBIqdHSMXeZcPNRR_MGG0oFpHELRFHcgrwligH4IYIDJ'
        //     },
        //
        //     // Show the buyer a 'Pay Now' button in the checkout flow
        //     commit: true,
        //
        //     // payment() is called when the button is clicked
        //     payment: function(data, actions) {
        //
        //         // Make a call to the REST api to create the payment
        //         return actions.payment.create({
        //             payment: {
        //                 transactions: [
        //                     {
        //                         amount: { total: '<%= amount%>', currency: 'GBP' }
        //                     }
        //                 ]
        //             }
        //         });
        //     },
        //
        //     // onAuthorize() is called when the buyer approves the payment
        //     onAuthorize: function(data, actions) {
        //         // Make a call to the REST api to execute the payment
        //         return actions.payment.execute().then(function() {
        //           $.ajax({
        //             url: 'invoices/2',
        //             type: 'PATCH',
        //             dataType: 'json',
        //             data: { user: { paid_at: true } },
        //             success: function(data) {
        //               // You can do something here once you have received a successful response from the server
        //             }
        //           })
        //             window.alert('Payment Complete!');
        //         });
        //     }
        //
        // }, '#paypal-button-container');

    </script>
</body>
