
<!DOCTYPE html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
  <script src="https://js.chargebee.com/v2/chargebee.js" data-cb-site="hsclub-test" ></script>
  <script src="https://js.chargebee.com/v2/chargebee.js" data-cb-site="hsclub"> </script>
</head>

<body>
<h4>A premium subscription will be a monthly fee of £15.</h4>
<p>Test button</p>
<a href="javascript:void(0)" data-cb-type="checkout" data-cb-plan-id="premium-subscription" >subscribe</a>
    <!-- <div id="paypal-button-container"></div> -->
    <!-- <button class="js-button">Button</button> -->
<p>Payment button</p>
<a href="javascript:void(0)" data-cb-type="checkout" data-cb-plan-id="premium" >subscribe</a>
<a href="javascript:void(0)" data-cb-type="portal" >Manage account</a>
</body>
