<h1>Editing Link</h1>

<p>This is where you can edit your masterclass</p>

<%= render 'form', masterclass: @masterclass %>

<%= link_to 'Show', @masterclass %>
<%= link_to 'Back', posts_masterclass %>
