<div class="container container-fluid">
  <p>This is a list of all masterclasses</p>

  <% @masterclasses.each do |masterclass| %>

    <div class="link">
      <h2>
        <%= link_to masterclass do %>
          <% if masterclass.preview.present? %>
            <%= image_tag masterclass.preview.url %>
          <% else %>
            <%= masterclass.title %>
          <% end %>
        <% end %>
      </h2>
    </div>

  <% end %>

  <%= link_to 'Create a new masterclass', new_masterclass_path %>
</div>
