@import '../utilities/breakpoints';
@import '../utilities/variables';

.author-box {
  border: 1px solid gainsboro;
  padding: $spacing;
  border-left: 1px solid $dark-pink;
  display: flex;
  flex-direction: column;
  align-items: center;
}