<div class="expert-banner-background-color">
  <div class="expert-banner-container">

    <div class="expert-banner-fade">
      <div class="expert-banner-post">
       <%= image_tag(@post.user && @post.user.bioavatar, class: "expert-banner-image")%>
        <div>
          <h2 class="expert-name secondary-heading">Blog post by <%= @post.user.first_name %> <%= @post.user.surname%></h2>
          <p class="expert-description paragraph"><%= @post.user.bio%></p>
        </div>
      </div>
    </div>
  </div>
</div>
