<div class="expert-banner-background-color">
  <div class="expert-banner-container" style="padding-top:10px; padding-bottom:10px;">

    <div class="expert-banner-post p-4 d-flex align-items-start">
      <div class="row">
        <div class="col-12 col-lg-3">
          <%= image_tag(@post.user && @post.user.bioavatar, class: "expert-banner-image")%>
        </div>
        <div class="col-12 col-lg-9">
          <h2 class="expert-name secondary-heading">Blog post by <%= @post.user.first_name %> <%= @post.user.surname%></h2>
          <p class="expert-description paragraph"><%= @post.user.bio%></p>
        </div>
      </div>
    </div>
  </div>
</div>
