<%= @user %>

<p><%= @user.email %></p>
<p><%= @user.id %></p>

<p><%= @post.user_id %></p>

<!--So user_id works and pulls in, but need to work out how to bring in stuff from users table -->
Author name
Author image
Author bio
