
<% @posts.each do |post| %>

  <div class="link row clearfix">
        <h2>
          <%= link_to post.title, post %><br>
          <%= image_tag post.image_was if post.image.present?  %>
        </h2>


  <% end %>
