This is a list of all posts


<% @posts.each do |post| %>

<div class="link row clearfix">
      <h2>
        <%= link_to post.title, post %><br>
        <%= image_tag post.avatar.url(:thumb) %>
      </h2>

<% end %>

<% if can? :create, @post %>
<%= link_to 'Create a new post', new_post_path %>
<% end %>
