<h1 class="main-heading center">Posts</h1>

<ul>
<% @categories.each do |category| %>

  <li><a href="posts?category=<%= category.id %>"><%= category.name %></a></li>
  
<% end %>
</ul>
<div class="row d-flex justify-content-around col-12 m-auto" style="background-color:#ececec;">
  <% @posts.each do |post| %>

    <div class="card col-xs-12 col-sm-8 col-md-5 col-lg-4 col-xl-3 profile-card shadow p-3 mb-5 bg-white rounded">
      <%= render 'shared/post', post: post %>
    </div>
  <% end %>

</div>
