

<% if cannot? :manage, @post %>
	<div class="all-posts-wrapper">
	<% @posts.each do |post| %>

		
			<div class="post-thumb">
			  <div class="link-row-clearfix">
			        <div class="post-image-thumb">
			        	<%= image_tag post.image_url(:thumb) if post.image.present?  %>		
			        </div>

			        <div class="post-title-thumb">
			          <%= link_to post.title, post %>  	
			        </div><br>
			  </div>
			</div>

	<% end %>
</div>

<!-- <<<<<<< HEAD
<#% end %>


<#% if can? :manage, @post %>
<#%= render 'layouts/postadmin', post: @post %>
<#% end %>
======= -->
  <% end %>

