<div class="all-posts-wrapper">



<div class="post-thumb">
	<% @posts.each do |post| %>
		<div class="link-row-clearfix">
			  <div class="post-image-thumb">
						<%= image_tag post.image_url(:thumb) if post.image.present? %>
			  </div>
				<div class="post-title-thumb">
						<%= link_to post.title, post %>
				</div>
		</div>
			 <% end %>

	</div>
</div>

<!-- <div><#%= if can :edit %> -->
	<%= link_to 'New post', new_post_path, { no_turbolink: true } %>
<!-- <#% end %> -->
</div>

	<!-- put create post link in here to only allow authorized users -->
