<h1><%= @post.title %></h1>
<p><%= raw @post.body_text %></p>
<%= image_tag(@post.image_url.to_s) %>




<% if can? :manage, @post %>
<%= link_to 'edit post', edit_post_path, class: 'button show'  %>
<% end %>
