.image-message {
	justify-content: center; 
  background-color: #d158ac;
  opacity: 0.75;
  padding: 20px;
}

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 100px 20%;
  text-align: center;
  color: white;
  height: 300px;
}

.homepage-banner-1 {
	background-image: url('hero_images/image1.png');
}

.homepage-banner-2 {
	background-image: url('hero_images/image2.jpg');
}

.homepage-banner-3 {
  background-image: url('hero_images/image3.jpg');
}

