/*************** About Page ***************/
.wrapper
{
  width: 100%;
}

.bigimage
{
  background-image: url('about-image.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .bigimage
  {
      height: 200px;
      background-size: contain;
  }
}
