/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require toastr
 *= require_tree .
 *= require_self
 *= require font-awesome
 */


/**************** General ****************/

* {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
    text-decoration: none !important;
}


.main-heading {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 3em;
}

.secondary-heading {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 2em;
}

.section-heading {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 1.5em;
}

.paragraph {
    font-family: 'Playfair Display', serif;
    font-size: 0.9em;
}

.center {
    text-align: center;
}


.vip_background {
    background-color: #FFFBFF;
}

.form {
  width: 60%;
  margin: 20px 20%;
  text-align: left;
}

.hidden {
  visibility: hidden;
}

/*
 *= require gulp/app
 */
