.wrapper
{
  width: 100%;
}

.faqimage
{
  background-image: url('faq-cover.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .bigimage
  {
      height: 200px;
      background-size: contain;
  }
}


.faq-header {
  text-decoration: none !important;
}

.faq-link:hover {
  text-decoration: none !important;
}
