/**************** Footer ****************/

.footer {
  padding: 20px;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
}

.footerlogo {
  font-family: 'Playfair Display', serif;
  text-decoration: none;
  color: #999999;
  font-size: 1.5em;
  align-self: center;
  text-shadow: 0 1px 1px rgba(0,0,0, .7);
}

.footer-nav {
	display: flex;
	align-items: center;
}

.footer-nav__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #707070;
  margin-left: 30px;
  font-size: 0.7rem;
}

.footer-nav__link:hover {
  color: #ff0000;
}