
.main-header {
	display: flex;
  justify-content: center;
  padding: 1em 0 0 0;
}

 .main-header-title {
  font-family: 'Playfair Display', serif;
  text-decoration: none;
  color: black;
  font-size: 2.5em;
  text-shadow: 0 1px 1px rgba(0,0,0, .7);
 }

 .main-header-title:hover {
   color: black;
 }

 .nav-bar-icon {
   font-size: 150%;
 }

.main-navigation-image {
  font-size: 200%;
}

.main-navigation-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.fa {
  color: 	#fbcfcc;
}

.fa:hover {
  color: #d15a8c;
}

.top-nav-icon {
  color: white;
}

.top-nav-icon:hover {
  color: white;
}

.top-nav-bar {
  background-color: #d15a8c;
}