/*************** Main Header ***************/

.main-header {
	display: flex;
  justify-content: center; 
  background-color: #EBEBEB;
  padding: 1em 0 0 0;
}

 .main-header-title {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #8E0048;
  font-size: 2.5em;
  text-shadow: 0 1px 1px rgba(0,0,0, .7);
 }

 .main-members-area {
  display: flex;
	justify-content: center; 
  flex-wrap: wrap;
  background-color: #EBEBEB;
  padding: 0.7em 0 0.7em 0;
}

 .members-area-title {
  text-decoration: none;
  text-transform: uppercase;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center; 
  width: 45%;
  padding: 5px;
  font-size: 0.8em;
  letter-spacing: 1px;
 }

 .main-navigation {
	display: flex;
	justify-content: center; 
  flex-wrap: wrap;
  background-color: #EBEBEB;
  padding: 0 0 1em 0;
}

 .main-navigation-link {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #777777;
  font-weight: bold;
  margin: 0 2em;
 }

 .main-navigation-link:hover {
    color: #8E0048;
 }
