.navigation {
  list-style: none;
  margin: 0;
  background: #EBEBEB;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: #000;
}

.navigation a:hover {
  background: #8E0048;
  color: #fff;
  border-radius: 5px;
}

.main-navigation {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 background-color: #EBEBEB;
 padding: 0 0 1em 0;
}

.main-navigation-link {
 font-family: 'Roboto', sans-serif;
 text-decoration: none;
 color: #777777;
 font-weight: bold;
 margin: 0 2em;
 text-transform: uppercase;
}

.login{
  background-color: green;
  border-radius: 5px;
}


/**************** media queries ****************/

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}
@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }
}
