$spacing: 15px;
$text-color: #AAA;

.main-header-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $spacing;
}

@media all and (max-width: 655px) {
  .main-header-wrap {
    justify-content: space-between;
  }
}

.main-header {
	display: flex;
  justify-content: center;
}

 .main-header-title {
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  color: black;
  font-size: 4.2rem;
  text-shadow: 0 1px 1px rgba(0,0,0, .7);
 }

 .main-header-title:hover {
   color: black;
 }

 .nav-bar-icon {
   font-size: 150%;
 }

.main-navigation-image {
  font-size: 200%;
  text-shadow: 0 1px 1px rgba(0,0,0, .5);
}

.main-navigation-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.fa {
  color: 	#fbcfcc;
}

.fa:hover {
  color: #d15a8c;
}

.top-nav-icon {
  color: $text-color;
}

.top-nav-icon:hover {
  color: $text-color;
}

.top-nav-bar {
  border-bottom: 3px solid #d15a8c;
}

//////////// Header Navigation Links /////////////

.top-navigation-link {
  color: $text-color;
  text-decoration: none;
  font-weight: bold;
  margin: 0 $spacing * 2;
}

.top-navigation-link:hover {
  color: white;
}

.navigation {
  list-style: none;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

@media all and (max-width: 655px) {
  .navigation {
    display: none;
  }
}

.main-navigation {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 background-color: #EBEBEB;
 padding: 0 0 $spacing 0;
}

.main-navigation-link {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin: 0 $spacing * 2;
  text-transform: uppercase;
 }

 .main-navigation-link:hover {
   color: black;
 }

 /**************** media queries ****************/

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 655px) {
  .navigation a {
    text-align: center;
    padding: $spacing;
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }
}
