// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  background-color: #acbccc;
    padding: 1em;
  margin: 1em;
}

.post-thumb {
  border: 1px solid #CCC;
  background: #fff;
  padding: 2px;
  margin: 2px;
  min-width: 100%;
  background-color: #cdecba;
}

.post-thumb-img {
  width: 260px;
  height: 260px;
  object-fit: scale-down;
}


.post-thumb-content {
  width: 200px;
  background-color: #aa4aa4
}


img-fluid {
min-width: 100%;
height: auto;
}

