$spacing: 15px;

.static_head {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .bigimage {
    height: 200px;
    background-size: contain;
  }
}

.static_image{
  height: 400px;
  width: auto;
}
