$spacing: 15px;

.subscription-wrapper {
  margin: 2em;
}

.subscription-page-container {
  display: flex;
  justify-content: space-around;
}

.subscription-container {
  display: flex;
  justify-content: space-around;
  width: 70%;
  background-color: #EFEFEF;
  margin: 0em;
  padding: 1em;
}

.subscription-button {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-decoration: none;
  color: whitesmoke;
  background-color: #8E0048;
  padding: 1em 2em;
  border-radius: 15px;
  ;
}