.user {
  color: #fff;
  font-family: arial, sans-serif;
  padding-left: 10px;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.button {
  color: #fff;
  font-family: arial, sans-serif;
  text-decoration: none;
  padding: 10px;
  font-size: 1rem;
  text-transform: uppercase;
}

.show {
  color: black;
}

table {
  align-content: center;
  padding: 10px;
  margin: 0 auto;
}

tr {

}

td {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.tableitmes {
  color: black;
  font-family: arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .85rem;
}

.tablelinks {
  color: black;
  font-family: arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .85rem;
}




.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #403F3F;
  padding: 10px;
  margin: 0 auto;
}

.select {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.select h4 {
  border-bottom: 2px solid #403F3F;
}

.select h4:hover {
  border-bottom: 2px solid red;
}


.admin {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #403F3F;
  padding: 10px;
}

.admin p {
  border-bottom: 2px solid #403F3F;
}

.admin p:hover {
  border-bottom: 2px solid red;
}
