<div class="header">
  <h4 class="user">users page</h4>

  <div class="select">
    <h4><%= link_to 'Posts', posts_path, class: 'button' %></h4>
    <h4><%= link_to 'Users', users_path, class: 'button' %></h4>
    <h4>master class</h4>
  </div>
</div>
