<div class="expert-banner-background-color">
  <div class="expert-banner-container">

    <div class="mySlides expert-banner-fade">
      <div class="expert-banner-post">
        <%= image_tag('man1.jpg', class: "expert-banner-image")%>
        <div>
          <h2 class="expert-name secondary-heading">Expert Name</h2>
          <p class="expert-description paragraph">Icing tiramisu gummies icing jujubes muffin sugar plum bonbon. Brownie marshmallow carrot cake pudding.</p>
        </div>
      </div>
    </div>

    <div class="mySlides expert-banner-fade">
      <div class="expert-banner-post">
        <%= image_tag('woman1.jpg', class: "expert-banner-image")%>
        <div>
         <h2 class="expert-name secondary-heading">Expert Name</h2>
          <p class="expert-description paragraph">Icing tiramisu gummies icing jujubes muffin sugar plum bonbon. Brownie marshmallow carrot cake pudding.</p>
        </div>
      </div>
    </div>

    <div class="mySlides expert-banner-fade">
      <div class="expert-banner-post">
        <%= image_tag('man2.jpg', class: "expert-banner-image")%>
        <div>
          <h2 class="expert-name secondary-heading">Expert Name</h2>
          <p class="expert-description paragraph">Icing tiramisu gummies icing jujubes muffin sugar plum bonbon. Brownie marshmallow carrot cake pudding.</p>
        </div>
      </div>
    </div>

    <!-- Next and previous buttons -->
    <a class="prev js-prev" data-number="-1">&#10094;</a>
    <a class="next js-next" data-number="1">&#10095;</a>
  </div>

  <!-- The dots/circles -->
  <div class="" style="text-align:center">
    <span class="dot js-dot" data-number="1"></span>
    <span class="dot js-dot" data-number="2"></span>
    <span class="dot js-dot" data-number="3"></span>
  </div>
</div>