
<div class="d-flex justify-content-between border-top border-dark mt-3">

  <div class="row pl-3 nav-bar-icon">
		<%= link_to "Health & Style Club", root_path, class: "footerlogo" %>
  </div>

  <div class="row p-3">
    <a href="" class="bottom-navigation-link">Navigation</a>
    <a href="" class="bottom-navigation-link">Navigation</a>
		<a href="" class="bottom-navigation-link">Navigation</a>
  </div>
	
</div>