<div class="content-wrap">
			<footer class="footer">
  					<%= link_to "Health & Style Club", root_path, class: "footerlogo" %>

				<footer-nav class="footer-nav">
			        <p><a class="footer-nav__link" href="#">Nav 1</a></p>
					<p><a class="footer-nav__link" href="#">Nav 1</a></p>
					<p><a class="footer-nav__link" href="#">Nav 1</a></p>
          <p><button class="privacy trigger">Privacy Policy</button></p>
				</footer-nav>
			</footer>
</div>

<!--Privacy Policy-->

<%= render "layouts/privacy_policy" %>