<div class="content-wrap">
			<footer class="footer">
				
				<%= link_to image_tag("logo_white.png"), home_index_path, class: 'footerlogo' %>

				<footer-nav class="footer-nav">
			        <p><a class="footer-nav__link" href="#">Nav 1</a></p>
					<p><a class="footer-nav__link" href="#">Nav 1</a></p>
					<p><a class="footer-nav__link" href="#">Nav 1</a></p>
				</footer-nav>
			</footer>			
</div>