<div class="main-header">
  <%= link_to "Health & Style Club", root_path, class: "main-header-title" %>

</div>
<div class="main-members-area">
  <a href="" class="members-area-title">Members Area</a>
  </div>
    <nav class="main-navigation">
      <ul class="navigation">
      <li><%= link_to "Posts", posts_path, class: 'main-navigation-link' %></li>
      <li><a href="" class="main-navigation-link">Navigation</a></li>
      <li><a href="" class="main-navigation-link">Navigation</a></li>
      <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, class:'main-navigation-link' %></li>
      <li></li>
      </ul>
    </nav>
