<div class="testimonial-banner-background-color">
  <div class="testimonial-banner-container">

    <div class="mySlidesTestimonial testimonial-banner-fade">
      <div class="testimonial-banner-post">
        <div>
          <p class="testimonial-description section-heading">"Icing tiramisu gummies icing jujubes muffin sugar plum bonbon. Brownie marshmallow carrot cake pudding."</p>
          <h2 class="testimonial-name paragraph">Testimonial Name</h2>
        </div>
      </div>
    </div>

    <div class="mySlidesTestimonial testimonial-banner-fade">
      <div class="testimonial-banner-post">
        <div>
          <p class="testimonial-description section-heading">"Icing tiramisu gummies icing jujubes muffin sugar plum bonbon. Brownie marshmallow carrot cake pudding."</p>
          <h2 class="testimonial-name paragraph">Testimonial Name</h2>
        </div>
      </div>
    </div>

    <div class="mySlidesTestimonial testimonial-banner-fade">
      <div class="testimonial-banner-post">
        <div>
          <p class="testimonial-description section-heading">"Icing tiramisu gummies icing jujubes muffin sugar plum bonbon. Brownie marshmallow carrot cake pudding."</p>
          <h2 class="testimonial-name paragraph">Testimonial Name</h2>
        </div>
      </div>
    </div>

    <!-- Next and previous buttons -->
    <a class="prevTestimonial js-prevTestimonial" data-number="-1">&#10094;</a>
    <a class="nextTestimonial js-nextTestimonial" data-number="1">&#10095;</a>
  </div>

  <!-- The dots/circles -->
  <div class="" style="text-align:center">
    <span class="dotTestimonial js-dotTestimonial" data-number="1"></span>
    <span class="dotTestimonial js-dotTestimonial" data-number="2"></span>
    <span class="dotTestimonial js-dotTestimonial" data-number="3"></span>
  </div>
</div>